<%- include("./partials/header") %>

<div class="container mt-5 text-center">
    <h1>Welcome to Plaid App!</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>
</div>

<%- include("./partials/footer") %>